body{
    background-color: #C1D90D;
   /* background-image: url(fundo.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
}

#banner{
    width: 100%;
}

#titulo{
    text-align: center;
    font-size: 30px ;
    color: #13c8b5;
}


.texto{
    text-align: justify;
    font-size: 20px;
    color:  #1C2611;
}

img{
   width: 40%;
}