body{

    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica;
}

#banner{
    width: 30%;
    margin: auto;
    display: block;
}

#titulo{
    text-align: center;
    font-size: 30px ;
    color: #1C2611;
}

.classe-titulo{
    background-color: #cfd5a2 ;
}

.conteudo{
    background-color: #e0e5b7;

}
.texto{
    text-align: justify;
    font-size: 15px;
    color:  #1C2611;
    line-height: 1.5;
    padding-top: 2em;
    margin: 20px;
}


.li ul{
    text-align: justify;
    font-size: 15px;
    color:  #1C2611;
    line-height: 2.0;
    margin: 20px;
}

