body{
    background-color: #e0e5b7;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica;
}

#banner{
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#titulo-principal{
    font-size: 35px ;
    color: #1C2611;
    padding: 10px;
    font-family: Calibri;
}

.conteudo{
    background-color: #dbf4b9;

}

.conteudo-imagem{
    padding: 0px;
    text-align: center; /*se eu alinhar o texto ele alinha ate a imagem*/
}

.texto{
    text-align: justify;
    font-size: 15px;
    color:  #1C2611;
    line-height: 1.5;
    padding-top: 2em;
    margin: 20px;
}

.cabecalho{
    background-image: linear-gradient(#31581d, #aae18d  ) ;
    padding: 10px;
    color: #1C2611;
    border-top: 8px solid rgb(152, 187, 98);
    font-size: 28px;
    text-align: center;
}

.secao1{
    background-image: linear-gradient(#aae18d, #dbf4b9 );
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(176, 244, 74);
}